.wrapper{
  margin: auto;
  width: 80%;
}

.header{
  display: flex;
  justify-content: space-between;
}

.menu__item{
  padding: 0 13px;
}

.menu__item: last-child{
  padding-right: 0;
}


.logo{
color:red;
font-family:sans-serif;
padding: 40px 0;
display: inline-block;
}

.menu{
  display: flex;
  align-items: center;
  display: inline-block;
}


.main-content__title{
color:blue;
font-family:'Roboto', sans-serif;
}

.main-content__subtitle{
color:blue;
font-family:'Roboto', sans-serif;
}

.main-content__button{
color:grey;
font-family:'Roboto', sans-serif;
}
