.head__title{
color:red;
font-family:'Roboto', sans-serif;
}

.section__subtitle{
color:blue;
font-family:'Roboto', sans-serif;
}

.section__button{
color:black;
font-family:'Roboto', sans-serif;
}
